@font-face {
  font-family: "citrixsans-regular";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-regular.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-regular.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-regular.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-regular.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-regular.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-bold";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bold.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bold.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bold.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bold.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bold.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-bolditalic";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bolditalic.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bolditalic.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bolditalic.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bolditalic.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-bolditalic.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-italic";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-italic.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-italic.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-italic.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-italic.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-italic.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-light";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-light.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-light.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-light.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-light.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-light.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-lightitalic";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-lightitalic.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-lightitalic.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-lightitalic.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-lightitalic.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-lightitalic.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-semibold";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibold.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibold.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibold.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibold.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibold.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

@font-face {
  font-family: "citrixsans-semibolditalic";
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibolditalic.eot");
  src: url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibolditalic.eot?")
      format('eot'),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibolditalic.woff")
      format("woff"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibolditalic.ttf")
      format("truetype"),
    url("//cdn.octoblu.com/fonts/citrix-sans/citrixsans-semibolditalic.svg#7816f72f-f47e-4715-8cd7-960e3723846a")
      format("svg");
}

html,
body,
#app {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #f6f9fb;
  color: #454545;
  /*font-family: "citrixsans-regular", sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
